{% extends 'propeller/propeller.html' %}

{% load propeller staticfiles %}

{% block propeller_title %}
    MediaCatalogue
{% endblock %}

{% block propeller_extra_head %}
    <link href="{% static 'css/propeller-extra.css' %}" rel="stylesheet">
    <script src="{% static 'jquery/jquery-1.12.0.min.js' %}"></script>
    {% block extra_head %}
    {% endblock %}
{% endblock %}

{% block propeller_content %}

    {% propeller_navbar navbar %}
    {% propeller_navbar context_bar %}

    <script>
    function doSearch(sval) {
        url = "{% url 'watson:search' %}";
        window.location = url + "?q=" + sval;
    }
    </script>

{#    <form class="" action="{% url 'watson:search' %}">#}
{#        <input name="q" value="{{request.GET.q}}">#}
{#        <input type="submit" value="Go">#}
{#    <button type="submit" class="btn btn-default" onclick="doSearch($('#searchBox').val());">Submit</button>#}
{#    </form>#}
        {% autoescape off %}{% propeller_messages %}{% endautoescape %}

        {% block main %}(no content){% endblock %}

{% endblock %}
