{% extends "base.html" %}
{% load staticfiles ratings propeller %}

{% block meta_title %}Images{% endblock %}

{% propeller_navbar context_bar %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="pmd-card pmd-z-depth">
	<div class="table-responsive">
    <table class="pmd-table table table-bordered table-striped">
        <thead>
            <tr>
                <td>Preview</td>
                <td>Filename</td>
                <td>Type</td>
                <td>Size</td>
                <td>Path</td>
                <td>Filesize</td>
                <td>last modified</td>
                <td>created</td>
                <td>Rating</td>
                <td>Categories</td>
                <td>Tags</td>
            </tr>
        </thead>
        <tbody>
        {% for image in media.images %}
            <tr>
                <td><img src='/media/{{ image }}' alt="" width="50px" /></td>
                <td><a href="/media/{{ image }}">{{ image.shortname }}</a></td>
                <td>{{ image.filetype }}</td>
                <td>{{ image.image_size.0 }}x{{ image.image_size.1 }}</td>
                <td>{{ image.path }}</td>
                <td>{{ image.filesize }}</td>
                <td>{{ image.last_modified_dt }}</td>
                <td>{{ image.creation_dt }}</td>
                <td>{% ratings image %}</td>
                <td>{{ image.categories }}</td>
                <td>{{ image.tags }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

{% endblock %}
