{% extends "base.html" %}
{% load staticfiles ratings %}

{% block meta_title %}Images{% endblock %}
{% block title %}Images{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}

{% block main %}

    <div class="row">
    <span class="dropdown pmd-dropdown">
        <button class="btn pmd-ripple-effect btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Organize<span class="caret"></span></button>
        <ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu">
            <li class="dropdown-header" role="presentation">Dropdown header</li>
            <li role="presentation"><a href="javascript:void(0);" tabindex="-1" role="menuitem">Action</a></li>
            <li role="presentation"><a href="javascript:void(0);" tabindex="-1" role="menuitem">Another action</a></li>
            <li role="presentation"><a href="javascript:void(0);" tabindex="-1" role="menuitem">Something else here</a></li>
            <li class="dropdown-header" role="presentation">Dropdown header</li>
            <li role="presentation"><a href="javascript:void(0);" tabindex="-1" role="menuitem">Separated link</a></li>
        </ul>
    </span>
    <span class="dropdown pmd-dropdown">
        <button class="btn pmd-ripple-effect btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">Find similar<span class="caret"></span></button>
        <ul aria-labelledby="dropdownMenu2" role="menu" class="dropdown-menu">
            <li class="dropdown-header" role="presentation">Dropdown header</li>
            <li role="presentation"><a href="javascript:void(0);" tabindex="-1" role="menuitem">Action</a></li>
            <li role="presentation"><a href="javascript:void(0);" tabindex="-1" role="menuitem">Another action</a></li>
            <li role="presentation"><a href="javascript:void(0);" tabindex="-1" role="menuitem">Something else here</a></li>
            <li class="dropdown-header" role="presentation">Dropdown header</li>
            <li role="presentation"><a href="javascript:void(0);" tabindex="-1" role="menuitem">Separated link</a></li>
        </ul>
    </span>
    <br>
    </div>

    <div class="pmd-card pmd-z-depth">
	<div class="table-responsive">
    <table class="pmd-table table table-bordered table-striped">
        <thead>
            <tr>
                <td>
                    <div class="checkbox pmd-default-theme">
                        <label class="pmd-checkbox pmd-checkbox-ripple-effect">
                            <input type="checkbox" value="" >
                        </label>
                    </div>
                </td>
                <td>Preview</td>
                <td>Filename</td>
                <td>Type</td>
                <td>Size</td>
                <td>Path</td>
                <td>Filesize</td>
                <td>last modified</td>
                <td>created</td>
                <td>Rating</td>
                <td>Tags</td>
            </tr>
        </thead>
        <tbody>
        {% for image in media.images %}
            <tr>
                <td>
                    <div class="checkbox pmd-default-theme">
                        <label class="pmd-checkbox pmd-checkbox-ripple-effect">
                            <input type="checkbox" value="" >
                        </label>
                    </div>
                </td>
                <td><img src='/media/{{ image }}' alt="" width="50px" /></td>
                <td><a href="/media/{{ image }}">{{ image.shortname }}</a></td>
                <td>{{ image.filetype }}</td>
                <td>{{ image.image_size.0 }}x{{ image.image_size.1 }}</td>
                <td>{{ image.path }}</td>
                <td>{{ image.filesize }}</td>
                <td>{{ image.last_modified_dt }}</td>
                <td>{{ image.creation_dt }}</td>
                <td>{% ratings image %}</td>
                <td>{{ image.tags }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

{% endblock %}
