{% extends "base.html" %}
{% load staticfiles %}

{% block meta_title %}MediaCatalogue{% endblock %}
{% block title %}MediaCatalogue{% endblock %}


{% block main %}

    <h3>Images:</h3>
    <table>
        <thead>
            <tr>
                <td>Filename</td>
                <td>File Type</td>
                <td>Tags</td>
            </tr>
        </thead>
        <tbody>
        {% for image in media.images %}
            <tr>
    {#            <img src='/media/{{ image|safe }}' width="100px" />#}
{#                <a href="/media/{{ image }}">{{ image }}</a>#}
                <td>{{ image.shortname }}</td>
                <td>{{ image.filetype }}</td>
                <td>{{ image.tags }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Videos:</h3>
    <ul>
    {% for video in media.videos %}
        <li>
            <a href="/media/{{ video }}">{{ video }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
