{% extends "base.html" %}
{% load staticfiles ratings %}

{% block meta_title %}MediaCatalogue{% endblock %}
{% block title %}MediaCatalogue{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}

{% block main %}

    <h3>Images:</h3>
    <table>
        <thead>
            <tr>
                <td>Filename</td>
                <td>Type</td>
                <td>Path</td>
                <td>Rating</td>
                <td>Tags</td>
            </tr>
        </thead>
        <tbody>
        {% for image in media.images %}
            <tr>
    {#            <img src='/media/{{ image|safe }}' width="100px" />#}
{#                <a href="/media/{{ image }}">{{ image }}</a>#}
                <td><a href="/media/{{ image }}">{{ image.shortname }}</a></td>
                <td>{{ image.filetype }}</td>
                <td>{{ image.path }}</td>
                <td>{% ratings image %}</td>
                <td>{{ image.tags }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Videos:</h3>
    <ul>
    {% for video in media.videos %}
        <li>
            <a href="/media/{{ video }}">{{ video }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
