{% extends "base.html" %}
{% load staticfiles ratings %}

{% block meta_title %}Videos{% endblock %}
{% block title %}Videos{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}

{% block main %}

    <div class="pmd-card pmd-z-depth">
	<div class="table-responsive">
    <table class="pmd-table table table-bordered table-striped">
        <thead>
            <tr>
                <td>
                    <div class="checkbox pmd-default-theme">
                        <label class="pmd-checkbox pmd-checkbox-ripple-effect">
                            <input type="checkbox" value="" >
                        </label>
                    </div>
                </td>
                <td>Filename</td>
                {% if table_settings.video_show_type %}
                <td>Type</td>
                {% endif %}
                {% if table_settings.video_show_path %}
                <td>Path</td>
                {% endif %}
                {% if table_settings.video_show_rating %}
                <td>Rating</td>
                {% endif %}
                <td>Categories</td>
                {% if table_settings.video_show_tags %}
                <td>Tags</td>
                {% endif %}
                {% if table_settings.video_show_relations %}
                <td>Relations</td>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for video in media.videos %}
            <tr>
                <td>
                    <div class="checkbox pmd-default-theme">
                        <label class="pmd-checkbox pmd-checkbox-ripple-effect">
                            <input type="checkbox" value="" >
                        </label>
                    </div>
                </td>
                <td>{{ video.get_link|safe }}</td>
                {% if table_settings.video_show_type %}
                <td>{{ video.filetype }}</td>
                {% endif %}
                {% if table_settings.video_show_path %}
                <td>{{ video.path }}</td>
                {% endif %}
                {% if table_settings.video_show_rating %}
                <td>{% ratings video %}</td>
                {% endif %}
                <td>{{ video.categories }}</td>
                {% if table_settings.video_show_tags %}
                <td>{{ video.tags }}</td>
                {% endif %}
                {% if table_settings.video_show_relations %}
                <td>{{ video.get_relations|safe }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

{% endblock %}
