{% extends "base.html" %}
{% load staticfiles %}

{% block meta_title %}MediaCatalogue{% endblock %}
{% block title %}MediaCatalogue{% endblock %}


{% block main %}

    <h3>Images:</h3>
    <ul>
    {% for image in media.images %}
        <li>
{#            <img src='/media/{{ image|safe }}' width="100px" />#}
            <a href="/media/{{ image }}">{{ image }}</a>
        </li>
    {% endfor %}
    </ul>

    <h3>Videos:</h3>
    <ul>
    {% for video in media.videos %}
        <li>
            <a href="/media/{{ video }}">{{ video }}</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
